<div class="container-fluid"></div>
<br />
<h2 class="solid">Mission Statement</h2>
<br>

<section class="solid">
    <br>
    As a student pursuing an Advanced Diploma in Artificial Intelligence,
     my mission is to gain the knowledge, skills, and experience necessary 
     to become an expert in the field of AI. I am passionate about using AI to 
     solve complex problems and make a positive impact on society. My goal is 
     to stay at the forefront of AI innovation, constantly learning and explo
     ring new ideas and technologies. Through hard work, dedication, and a co
     mmitment to excellence, I aim to make a meaningful contribution to the f
     ield of AI and become a leader in the industry.

    <br><br>
    

    <%# this is my photo %>
    <br>
    <br>
    <a href="/content/resume.pdf" type="pdf" width="100%" height="100%">Resume</a>
    <%# my resume link %>


    <br>

</section>
