

<div class="container-fluid"></div>
<br />
<h2 class="solid">Welcome</h2>
<br>

<section class="solid">
    <br>
    I am currently completing a Advanced Diploma in Artifical Inteligence 
    and am interested in Machine Learning. I am currently working as a 
    Mathematics tutor and I love to volunteer during my free time. I want 
    to pursue my studies in A.I. after college and play a role in the innovation 
    of new A.I. software.

    <br><br>
    <img src="/content/myPhoto.png" alt="" class="content" height="300">

    <%# this is my photo %>
    <br>
    <br>



    <br>

</section>



<style>
    section {
        background-image: url('public/images/b1.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
      }
</style>
