
<div class="container-fluid">
    <br />

  </div>
  <h2 class="solid">Project</h2>
  <br />
  <section class="solid">
    <br />
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="https://bejewelled-panda-ef08f8.netlify.app/">
          <img
            src="/images/webHome.jpg"
            alt="Real Estate Site"
            width="600"
            height="400"
          />
        </a>
        <div class="desc">
          This is a solo project which I created using HTML and CSS.
        </div>
      </div>
    </div>
  
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="https://zealous-mclean-0ecfa9.netlify.app/">
          <img src="/images/websiteEval.jpg" alt="Forest" width="600" height="400" />
        </a>
        <div class="desc">
          This is a solo project which I created using HTML and CSS.
        </div>
      </div>
    </div>
  
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="https://resilient-rugelach-593fe7.netlify.app/">
          <img
            src="/images/webResort.jpg"
            alt="Northern Lights"
            width="600"
            height="400"
          />
        </a>
        <div class="desc">
          This is a solo project which I created using HTML and CSS.
        </div>
      </div>
    </div>
  
    <div class="responsive">
      <div class="gallery">
        <a
          target="_blank"
          href="https://github.com/RoyianChow/E-commerce-Database"
        >
          <img src="/images/datab.jpg" alt="Mountains" width="600" height="400" />
        </a>
        <div class="desc">
          This is a group project and my role was to create parts of the database
          and my team and I did weekly meetings to discuss progress made.
        </div>
      </div>
    </div>
  
    <div class="clearfix"></div>
  
    <div style="padding: 6px"></div>
  </section>
  <style>
    nav {
      background-color: white;
    }
    h2 {
      background-color: wheat;
      border: 1px 1px 1px 1px;
      border-color: black;
      margin: 0px 175px 0px 175px;
      text-align: center;
    }
    section {
      background-color: white;
      margin-right: 150px;
      margin-left: 150px;
      font-size: x-large;
      text-align: center;
      overflow: scroll; /* Show scrollbars */
    }
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      border-style: solid;
    }
    h2.solid {
      border-style: solid;
    }
    section.solid {
      border-style: solid;
    }
  
    div.gallery {
      border: 1px solid #ccc;
    }
  
    div.gallery:hover {
      border: 1px solid #777;
    }
  
    div.gallery img {
      width: 100%;
      height: auto;
    }
  
    div.desc {
      padding: 15px;
      text-align: center;
    }
  
    * {
      box-sizing: border-box;
    }
  
    .responsive {
      padding: 0 6px;
      float: left;
      width: 24.99999%;
    }
  
    @media only screen and (max-width: 700px) {
      .responsive {
        width: 49.99999%;
        margin: 6px 0;
      }
    }
  
    @media only screen and (max-width: 500px) {
      .responsive {
        width: 100%;
      }
    }
  
    .clearfix:after {
      content: "";
      display: table;
      clear: both;
    }
  </style>
  